if SHIELD_BUNS_LEFT

# Name must be less than 16 characters long!
config BUNS
    string "Buns name" 
    default "Buns"

config ZMK_SPLIT_ROLE_CENTRAL
    bool "Enable split central role"
    default y

endif

if SHIELD_BUNS_LEFT || SHIELD_BUNS_RIGHT

config ZMK_SPLIT
    bool "Enable split keyboard"
    default y

endif

if SHIELD_BUNS_RIGHT

config ZMK_SPLIT_ROLE_PERIPHERAL
    bool "Enable split peripheral role"
    default y

endif